{% extends "core/base.html" %}

{% block title %}
    Wiadomość wysłana | Fantazmaty CMS
{% endblock %}

{% block content %}
    <div class="auth-container">
        <section class="auth-card">
            <header class="auth-header">
                <span class="auth-logo">F</span>

                <h1>Sprawdź pocztę</h1>

                <p>
                    Jeśli konto z podanym adresem e-mail istnieje,
                    wysłaliśmy wiadomość z instrukcją ustawienia
                    nowego hasła.
                </p>
            </header>

            <a href="{% url 'login' %}" class="primary-button">
                Wróć do logowania
            </a>
        </section>
    </div>
{% endblock %}