{% extends "core/base.html" %}

{% block title %}
    Hasło zostało zmienione | Fantazmaty CMS
{% endblock %}

{% block content %}
    <div class="auth-container">
        <section class="auth-card">
            <header class="auth-header">
                <span class="auth-logo">F</span>

                <h1>Hasło zostało zmienione</h1>

                <p>
                    Możesz już zalogować się przy użyciu nowego hasła.
                </p>
            </header>

            <a href="{% url 'login' %}" class="primary-button">
                Przejdź do logowania
            </a>
        </section>
    </div>
{% endblock %}